:root {
    --colorb: #055ac9;
    --colorb1: #3b8cf5;
    --colorb2: #6da7f3;
    --colorb3: #8cb9f3;
    --colorb4: #a3c6f5;
    --colorf: #f7f9fc;
    --colorf1: #ecf2fa;
}

a {
    text-decoration: none;
    color: var(--colorf);
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--colorf);
}

.index {
    display: flex;
    width: 100%;
    height: 100vh;
}

.index-menu {
    min-width: 99px;
    /* width: 10%; */
    background-color: var(--colorb1);
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.index-main,
.main-show {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--colorb3);
}

.main-other {
    min-width: 180px;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--colorb4);
}